* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(./bgimage.jpg);
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.totalClock {
  height: 490px;
  width: 350px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: lightslategray;
  border-radius: 5px;
  box-shadow: 12px 12px 12px black;
  /* border: none; */
}
.timerView {
  height: 200px;
  width: 200px;
  border: 5px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-shadow: 2px 2px 2px rgb(232, 44, 44);
  color: white;
  margin-top: 20px;
}
.timerView > span {
  font-size: 30px;
  margin: 5px;
}
.buttons > button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.buttons > button:hover {
  background-color: red;
}
.scoreContainer {
  height: 40%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px 18px;
}
.result {
  border: 1px solid;
  width: 320px;
  height: 35px;
  border-radius: 10px;
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
